@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  height: 100%;
}

body {
  margin: 0;
  padding: 2rem;
  background: linear-gradient(to left, #3eac90, #098666);
  display: flex;
  align-items: center;
  justify-content: center;
}
